<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Added successfully</title>
  <link rel="stylesheet" href="/output.css" />
</head>
<body class="min-h-screen bg-emerald-50 flex flex-col items-center justify-center gap-6">

 <header><h1 class="text-4xl font-bold text-emerald-700">Home added successfully</h1></header>
  <main>
    <a href="/" class="bg-emerald-600 text-white px-4 py-2 rounded-lg font-medium hover:bg-emerald-700 transition">Go back home</a>
  </main>
</body>
</html>